<div class="col-md-12">
  <div class="row">
    <div class="col-md-8">
      <div class="{{typeAlert}}" role="alert">
        {{message}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <form class="" action="" method="post">
        <div class="form-group">
          <label for="">Name *:</label>
          <input type="text" class="form-control" name="name" placeholder="Enter your name...">
        </div>
        <div class="form-group">
          <label for="">Email :</label>
          <input type="text" class="form-control" name="email" placeholder="Enter your email...">
        </div>
        <div class="form-group">
          <label for="">Message :</label>
          <textarea name="message" class="form-control" rows="8" cols="80" placeholder="Give me your message..."></textarea>
        </div>
        <div class="form-group">
          <button type="reset" name="button" class="btn btn-deafault">Reset</button>
          <button type="submit" name="button" class="btn btn-primary">Send</button>
        </div>
      </form>
    </div>
  </div>
</div>
